[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.vykunta.internal
Environment=CATALOGUE_HOST=catalogue.vykunta.internal
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
